{% extends "main/base.html" %}
{% block title %}
    {{ course.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <div class="clearfix">
                        <div class="col-md-6">
                            <h2 class="underline-title no-margin-top">{{ course.title }}</h2>
                        </div>
                    </div>
                </div>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="organizer-navs">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#course-description" data-toggle="tab">Course Description</a>
                            </li>
                            <li class="">
                                <a href="#course-quizzes" data-toggle="tab">Quizzes</a>
                            </li>
                        </ul>

                        <!-- ToDo: Description should only be displayed when description tab is clicked-->
                        <!-- Tab panes -->
                        <div class="tab-content padding-15">
                            <div class="tab-pane active" id="course-description">
                                {% load md2 %}
                                {{ course.description|markdown:"safe" }}
                            </div>
                            <div class="tab-pane" id="course-quizzes">
                                {% if quizzes %}
                                    <table data-toggle="table" class="table table-bordered" style="width: 70%">
                                        <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Published</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for quiz in quizzes %}
                                            {% csrf_token %}
                                            <tr {% if quiz.published %} class="success"
                                                                        {% else %}class="warning"{% endif %}>
                                                <td>{{ quiz.title }}</td>
                                                <td>{{ quiz.description }}</td>
                                                <td>{% if quiz.published %}{{ quiz.date_published }}
                                                {% else %}
                                                    <button class="btn btn-primary"
                                                            id="submitBtn"
                                                            data-toggle="modal" data-target="#confirm-submit"
                                                            value="{% url "publish_quiz" course.id quiz.id %}">Publish
                                                    </button>
                                                {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <h4>There are no quizzes yet. Create a new one!</h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <input class="btn btn-primary" type="button" onclick="location.href='{% url "add_quiz" course.id %}'"
                       value="Create quiz"/>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Submit quiz</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" name="text" id="formInputModal"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveCourseChanges">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

