{% extends "main/base.html" %}

{% block title %}Login{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <div class="clearfix">
                    <div class="col-md-12">
                        <h2>Login</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Sign in</h1>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" id="loginform" action="" class="wide" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% load error_message %}
                            <div class="form-group">
                                <input class="form-control" id="email" placeholder="E-mail" name="email" autofocus=""
                                       type="email"
                                       required="true">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="password" placeholder="Password" name="password" value=""
                                       type="password" required="true">
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel-errors panel animated fadeInDown">
                    {% if form.errors %}
                        <p class="errors">Please correct the errors below:
                            <div class="div-error">{{ form.non_field_errors }}</div>
                        </p>
                    {% endif %}
                    {% for field in form.visible_fields %}
                        {% show_single_error field.errors %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}