{% extends "main/base.html" %}

{% block title %}Sign up{% endblock %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <div class="clearfix">
                <div class="col-md-7">
                    <h2>Registration</h2>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-primary animated fadeInDown">
                <div class="panel-heading">Your details</div>
                <div class="panel-body">
                    <form method="post" action="" class="wide" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% load error_message %}
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                <label class="label">
                                    {{ field.label_tag }}
                                    {% if field.field.required %}
                                        <span class="ast_required">*</span>
                                    {% endif %}
                                </label>
                                {% if "password1" in field.name %}
                                    <input type="password" class="form-control" id="{{ field.name }}"
                                           name="{{ field.name }}" placeholder="Password" required="true">
                                {% elif "password2" in field.name %}
                                    <input type="password" class="form-control" id="{{ field.name }}"
                                           name="{{ field.name }}" placeholder="Repeat password" required="true">
                                {% elif "email" in field.name %}
                                    <input type="email" class="form-control" id="{{ field.name }}"
                                           name="{{ field.name }}" placeholder="Your E-Mail" required="true">
                                {% else %}
                                    <input type="text" class="form-control" id="{{ field.name }}"
                                           name="{{ field.name }}" required="true">
                                {% endif %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary pull-right" value="Register"
                                name="Register">Register
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel-errors panel animated fadeInDown">
                {% if form.errors %}
                    <p class="errors">Please correct the errors below:
                    <div class="div-error">{{ form.non_field_errors }}</div>
                    </p>
                {% endif %}
                {% for field in form.visible_fields %}
                    {% show_single_error field.errors %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}